@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.hero-section {
    background-image: url('../img/h_img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 13em;
    color: #fff;
}

.hero-section h1 {
    padding: 0.2em;
    margin: 5px;
}

.hero-section p {
    padding: 4px;
}

#logo {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 72px;
    height: 72px;
}

/* Mouse image section */

#mouseScroll {
    padding-top: 4em;
    margin-top: 5em;
    padding-bottom: 2em;
    animation-iteration-count: infinite;
}

#mouseScroll {
    animation: jump 5s ease-in;
}

@keyframes jump {
    0%, 20%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-56px);
    }

    60% {
        transform: translateY(-46px);
    }
}

/* About us Section */

.about {
    padding-bottom: 2em;
    text-align: center;
    padding-top: 3.1em;
    width: 70em;
}

#about-text {
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.5em;
}

/* Services section */

.services {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../img/s_image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 19px;
    text-align: center;
}

#servicesOverlay {
    padding-top: 6em;
    padding-bottom: 6em;
}

/* What We Do */