@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.hero-section {
    background-image: url('../img/h_img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 13em;
    color: #fff;
}

.hero-section h1 {
    padding: 0.2em;
    margin: 5px;
}

.hero-section p {
    padding: 4px;
}

#logo {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 72px;
    height: 72px;
}

/* Mouse image section */

#mouseScroll {
    padding-top: 4em;
    margin-top: 5em;
    padding-bottom: 2em;
    animation-iteration-count: infinite;
}

#mouseScroll {
    animation: jump 5s ease-in;
}

@keyframes jump {

    0%,
    20%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-56px);
    }

    60% {
        transform: translateY(-46px);
    }
}

/* About us Section */

.about {
    padding-bottom: 2em;
    text-align: center;
    padding-top: 3.1em;
    width: 70em;
}

#about-text {
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.5em;
}

/* Services section */

.services {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/s_image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 19px;
    text-align: center;
}

#servicesOverlay {
    padding-top: 6em;
    padding-bottom: 6em;
}

/* What We Do */

.what-we-do {
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
}

.what-we-do .main-h {
    padding-top: 1.2em;
}

#design,
#development,
#product {
    display: none;
    font-weight: 600;
}

#design,
.title,
#development,
.title,
#product,
.title {
    font-size: 20px;
    font-weight: 600;
}

/* Portfolio Section */

#portfolio {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


#portfolio2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.col-md-3 img {
    max-width: 100%;
    max-height: 100%;
}


.col-md-3 {
    cursor: pointer;
}

.portfolio-section h2 {
    text-align: center;
    padding-top: 40px;
}

#shadow1,
#shadow2,
#shadow3,
#shadow4,
#shadow5,
#shadow6,
#shadow7,
#shadow8 {
    display: none;
    color: #000;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 35px;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

/* Contact Us Section */

.page-header {
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 20px;

}

.contact {
    background-image: url('../img/c_image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    width: 100%;
}

input[type="text"],
input[type="email"],
#comment {
    background: transparent;
    color: #fff;
    text-shadow: 500px #000;
    font-size: 20px;
}

.form-control::-webkit-input-placeholder {
    color: #fff;
}

#MERGE1 {
    width: 16em;
    margin-left: 9.6em;
    margin-right: 30px;
}

#MERGE0 {
    width: 16em;
}

button {
    text-align: center;
    padding-top: 33px;
    margin-bottom: 20px;
}

/* Footer Section */

footer {
    text-align: center;
    padding-top: 30px;
}

footer p {
    margin-top: 10px;
}

footer img {
    cursor: pointer;
    transition: all 0.5 ease-in-out;
}



/* Media Queries Dimensions*/

@media only screen and (max-width: 755px) {

    #shadow1,
    #shadow2,
    #shadow3,
    #shadow4,
    #shadow5,
    #shadow6,
    #shadow7,
    #shadow8 {
        width: 100%;
        height: 100%;
        top: 20px;
        left: 16px;
        padding-top: 20%;
    }

    .col-md-3 img {
        width: 100%px;
        margin: 20px;
    }

    #portfolio {
        margin-left: 8%;
        margin-right: 16%;
    }

    #portfolio2 {
        margin-left: 8%;
        margin-right: 16%;
    }

    button {
        margin-left: 2%;
        padding-bottom: 30px;
        margin-bottom: 20px;
    }

}

@media only screen and (max-width: 425px) {

    #shadow1,
    #shadow2,
    #shadow3,
    #shadow4,
    #shadow5,
    #shadow6,
    #shadow7,
    #shadow8 {
        width: 100%;
        height: 100%;
        top: 20px;
        left: 16px;
        padding-top: 20%;
        font-size: 20px;
    }

    .col-md-3 img {
        width: 100%px;
        margin: 20px;
    }

    #portfolio {
        margin-left: 8%;
        margin-right: 16%;
    }

    #portfolio2 {
        margin-left: 8%;
        margin-right: 16%;
    }

    button {
        padding-bottom: 30px;
        margin-bottom: 20px;
    }

    #MERGE0 {
        width: 84%;
        margin-left: 4%;
        padding-bottom: 10px;
    }

    #MERGE1 {
        width: 100%;
        margin-left: 4%;
        margin-bottom: 20px;
    }

    #comment {
        margin-left: 4%;
        width: 84%;
    }
}

@media only screen and (min-width: 825px) {

    #shadow1,
    #shadow2,
    #shadow3,
    #shadow4,
    #shadow5,
    #shadow6,
    #shadow7,
    #shadow8 {
        width: 100%;
        height: 100%;
        top: 20px;
        left: 20px;
        padding-top: 30%;
    }

    .col-md-3 img {
        width: 400px;
        margin: 20px;
    }

    #portfolio {
        margin-left: 10%;
        margin-right: 10%;
    }

    #portfolio2 {
        margin-left: 8%;
        margin-right: 16%;
    }
}

@media only screen and (min-width: 625px) {

    #shadow1,
    #shadow2,
    #shadow3,
    #shadow4,
    #shadow5,
    #shadow6,
    #shadow7,
    #shadow8 {
        width: 100%;
        height: 100%;
        top: 20px;
        left: 20px;
        padding-top: 20%;
        font-size: 26px;
    }

    .col-md-3 img {
        width: 400px;
        margin: 20px;
    }

    #portfolio {
        margin-left: 6%;
        margin-right: 10%;
    }

    #portfolio2 {
        margin-left: 8%;
        margin-right: 16%;
    }
}